<div class="container-fluid d-flex flex-column align-items-center">
    <div class="card" style="width: 95%;">
      <div class="card-header">
        <div class="d-flex align-items-center">
          <img style="height: 40px; width:40px;" class="mx-2" src=<%= @category.icon %>>
          <h5 class="card-title category-name fs-5 stretched-link"><%=@category.name%>'s transactions</h5>
        </div>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item d-flex justify-content-between bg-light">
          <p class="m-1 gray-text fs-5">TOTAL SPENDING</p>
          <p class="fw-semibold m-1 gray-text fs-5">$<%= @expenditures.sum(:amount) %></p>
        </li>
        <% unless @expenditures.empty? %>
          <% @expenditures.each_with_index do |spen, expenditure| %>
            <li class="list-group-item">
              <div d-flex flex-column>
                <p class="card-text gray-text">Transaction N°<%=expenditure + 1%>: <span class="fw-semibold ms-2"><%=spen.name%></span></p>
                <p class="card-text gray-text">Amount: <span class="fw-semibold ms-2">$<%=spen.amount%></span></p>
                <p class="card-text mt-2"><small class="text-muted"><i class="fa-regular fa-calendar me-2"></i><%=spen.created_at.strftime("%d %b %Y")%> at <%=spen.created_at.strftime("%I.%M %p")%></small></p>
              </div>
            </li>
          <% end %>
        <% else %>
          <li class="list-group-item gray-text">You don't have any transactions yet.</li>
        <% end %>
      </ul>
    </div>
    <%= link_to 'Add a new transaction', new_expenditure_path, class: "btn btn-success my-5 py-2 px-5 text-white fs-6" %>
  </div>